@page "/"

<PageTitle>Home</PageTitle>

<h1>PlanWise</h1>


Welcome to PlanWise, your ultimate holiday planning companion! Whether you're dreaming of a tropical getaway or a cultural city break, PlanWise is here to help you make the most of your vacation. Use our Holiday Planner to explore public holidays around the world and manage your travel budget with real-time currency exchange rates. Start planning your perfect trip today!
